In [ ]:
##hello
'''hello how r u'''

# Python
## Basics
- various datatypes
- variable
- variable Assignments
- printing formats

## data type

In [1]:
1+1

2

In [2]:
4*5

20

In [3]:
10/2

5.0

In [4]:
10%2

0

In [6]:
10*'str'

'strstrstrstrstrstrstrstrstrstr'

In [7]:
10**2

100

In [8]:
##check data types
type(1)

int

In [9]:
type("Hello")

str

In [10]:
type(True)

bool

## Strings

In [13]:
"Hello"

'Hello'

In [14]:
'hello'

'hello'

In [15]:
type("Hello")

str

## variable Assignment

In [16]:
#syntax
# var_name=values
a=10

In [17]:
type(a)

int

In [18]:
a='Sudha'
type(a)

str

In [20]:
##Mathematical operation with Variable Assignment
a=10
b=20

In [22]:
print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a/b)) ##BODMAS

200
0.5
10
200.5

In [23]:
## various types of printing
print("Hello") #shift tab before bracket

Hello

In [24]:
first_name='Sudha'
last_name='K'

In [25]:
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is Sudha and last name is K

In [27]:
print("My first name is {first} and last name is {last}".format(last=last_name,first=first_name))

My first name is Sudha and last name is K

In [28]:
len('sudha')

5

In [29]:
type(['1',3,5,5])

list

# Python Data Structures and Boolean
- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

## Boolean Variables

Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [30]:
print(True,False)

True False

In [31]:
type(True)

bool

In [32]:
print(False)

False

In [37]:
my_str="Hello World"

In [38]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('d')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

False
False
False
True
False
False
False
True
False

## Boolean and Logical Operators

In [39]:
True and True

True

In [40]:
True and False

False

In [41]:
True or True

True

In [42]:
True or False

True

In [44]:
str_example='Hello World'
my_str='Sudha'

In [45]:
my_str.isalpha() or str_example.isnum()

True

## list
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [46]:
type([])

list

In [47]:
lst_example=[]

In [48]:
type(lst_example)

list

In [49]:
lst=list()

In [50]:
type(lst)

list

In [51]:
lst=['Mathematics','chemistry',100,200,300,204]

In [52]:
type(lst)

list

In [53]:
len(lst)

6

## Append

In [57]:
#.append is used to add elements in the list
lst.append("Sudha")

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Sudha', 'Sudha', 'Sudha']

In [67]:
lst.append(["dhoni","virat"])

In [68]:
lst

['Mathematics',
 'chemistry',
 100,
 200,
 300,
 204,
 'Sudha',
 'Sudha',
 'Sudha',
 ['dhoni', 'virat']]

In [59]:
##Indexing in list
lst[5]

204

In [66]:
lst[4:8]

[300, 204, 'Sudha', 'Sudha']

## Insert

In [70]:
## insert in a specific order
lst.insert(2,'K')

In [71]:
lst

['Mathematics',
 'chemistry',
 'K',
 100,
 200,
 300,
 204,
 'Sudha',
 'Sudha',
 'Sudha',
 ['dhoni', 'virat']]

## Extend method

In [72]:
lst1=[1,2,3,4,5,6]

In [73]:
lst1

[1, 2, 3, 4, 5, 6]

In [74]:
lst1.extend([8,9])

In [75]:
lst1

[1, 2, 3, 4, 5, 6, 8, 9]

## Various Operations that we can perform in list

In [79]:
lst1=[1,2,3,4,5]

In [81]:
sum(lst1)

15

## Pop() Method

In [82]:
lst1.pop()

5

In [84]:
lst1.pop(0)

1

In [85]:
lst1

[2, 3, 4]

## count():Calculates total occurrence of given element of List

In [86]:
lst=[1,1,2,3,4,5]

In [88]:
lst.count(1)

2

In [89]:
#length:Calculates total length of List
len(lst)

6

In [90]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [91]:
## Min and Max
min(lst)

1

In [92]:
max(lst)

5

## Sets
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [99]:
## Defining an empy set
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [104]:
set_var={1,2,3,4,3,6}

In [105]:
set_var

{1, 2, 3, 4, 6}

In [108]:
set_var={"Avengers","Ironman","Hitman"}
print(set_var)
type(set_var)

{'Ironman', 'Avengers', 'Hitman'}

set

In [110]:
##Inbuilt function in sets
set_var.add("Hulk")

In [111]:
print(set_var)

{'Hitman', 'Ironman', 'Hulh', 'Avengers', 'Hulk'}

In [117]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [118]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [119]:
set2.intersection_update(set1)

In [120]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [113]:
##Difference(set1)
set2.difference(set1)

{'Hulk2'}

In [114]:
## Difference update
set2.difference_update(set1)

In [115]:
print(set2)

{'Hulk2'}

In [116]:
set2.intersection(set1)

set()

## Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [121]:
dic={}
type(dic)

dict

In [122]:
dic={1,2,3,4,5}

In [123]:
type(dic)

set

In [124]:
## let create a dictionary
my_dict={"car1":"Audi","car2":"BMW","car3":"Mercidies Benz"}

In [125]:
type(my_dict)

dict

In [130]:
##Access the item values based on keys
for x in my_dict:
    print(x)

car1
car2
car3

In [127]:
# We can even loop throught the dictionaries keys
for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [131]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Mercidies Benz')

In [132]:
## Adding items in Dictionaries
my_dict['car4']='Audi 2.0'

In [133]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [134]:
my_dict['car1']='Maruthi'

In [135]:
my_dict

{'car1': 'Maruthi',
 'car2': 'BMW',
 'car3': 'Mercidies Benz',
 'car4': 'Audi 2.0'}

## Nested Dictionary

In [137]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [138]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [139]:
## Accessing the items in the dictionary
print(car_type['car1'])

{'Mercedes': 1960}

In [140]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

In [142]:
## create an empty Tuples
my_tuple=tuple()

In [143]:
type(my_tuple)

tuple

In [144]:
my_tuple=('blue','purple','green')

In [145]:
my_tuple

('blue', 'purple', 'green')

In [148]:
my_tuple[0]

'blue'

In [149]:
my_tuple=("hello world")

In [150]:
my_tuple

'hello world'

In [151]:
print(type(my_tuple))

<class 'str'>

In [155]:
## Inbuilt function
my_tuple.count('hello')

1